/* Base colors, accents, etc */

.root {
    -fx-accent: #B74B48;
    -fx-background: white;
    -fx-selection-bar-non-focused: #BE5D5A;
    -fx-background-color: white;
    -fx-accent-darker: #A03432;
}

.button {
    -fx-cursor: hand;
}

/* Hyperlinks */

.hyperlink:armed,
.hyperlink:visited,
.hyperlink:hover:armed {
    -fx-text-fill: -fx-accent;
}

.hyperlink:visited {
    -fx-underline: false;
}

.hyperlink:hover:visited {
    -fx-underline: true;
}

.hyperlink:focused {
    -fx-border-color: transparent;
}

/* Toolbar */

.tool-bar {
    -fx-background-color: white;
}

/* Tableview */

.table-view .column-header,
.table-view .column-header .filler {
    -fx-size: 25px;
    -fx-background-color: -fx-box-border, white;
}

/* Custom classes */

.sidebar {
    -fx-background-color: whitesmoke;
}

.sidebar-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #4a4a4a;
    -fx-border: none;
    -fx-background-radius: 0px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.main-btn {
    -fx-text-fill: white;
    -fx-background-color: -fx-accent;
    -fx-border: none;
    -fx-background-radius: 3px;
    //-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 4);
}
